#include "lib_cpp.h"
#include <iostream>
using namespace std;

{% for com in xillybus%}
class {{comp.name}}_{{com.fifo_width}} :public If_module{
public:
{%- if com.fifo_width == 32 %}
{%- if com.rcv_cycle != 0 %}
	void get_{{comp.name}}_{{com.fifo_width}} (int *buff, int size);
{% endif %}
{%- if com.snd_cycle != 0 %}
	void set_{{comp.name}}_{{com.fifo_width}} (int *buff, int size);
{%- endif -%}
{% elif com.fifo_width == 8 %}
{%- if com.rcv_cycle != 0 %}
	void get_{{comp.name}}_{{com.fifo_width}} (char *buff, int size);
{% endif %}
{%- if com.snd_cycle != 0 %}
	void set_{{comp.name}}_{{com.fifo_width}} (char *buff, int size);
{%- endif -%}
{% endif %}
};
{% if com.rcv_cycle != 0 %}
{%- if com.fifo_width == 32 %}
void {{comp.name}}_{{com.fifo_width}}::get_{{comp.name}}_{{com.fifo_width}}(int *buff, int size){
{% elif com.fifo_width == 8 -%}
void {{comp.name}}_{{com.fifo_width}}::get_{{comp.name}}_{{com.fifo_width}}(char *buff, int size){
{% endif %}
	int rc = 0;
	int len = sizeof(int) * size;
	while(1){
		rc += read(fr, &buff[rc], len);
		if(rc < 0){
			cerr << fail to read << endl;
			continue;
		}
		else
		{
			len -= rc;
			if(len == 0) break;
		}
	}
}
{%- endif %}

{%- if com.snd_cycle != 0 %}
{% if com.fifo_width == 32 %}
void {{comp.name}}_{{com.fifo_width}}::set_{{comp.name}}_{{com.fifo_width}}(int *buff, int size){
{% elif com.fifo_width == 8 -%}
void {{comp.name}}_{{com.fifo_width}}::set_{{comp.name}}_{{com.fifo_width}}(char *buff, int size){
{% endif %}
	int rc = 0;
	int len;
	len = sizeof(int) * size;
	rc = 0;
	while(1){
		rc += write(fw, &buff[rc], len);
		if(rc < 0){
			cerr << "fail to write" << endl;
			continue;
		}
		else{
			len -= rc;
			if (len == 0) break;
		}
	}
}
{%- endif -%}
{% endfor %}

int main(int argc, char const *argv[]){
{% for com in xillybus %}
	{{comp.name}} fifo_{{com.fifo_width}};
{%- if com.rcv_cycle != 0 %}
	fifo_{{com.fifo_width}}.set_devfile_read("/dev/xillybus_read_{{com.fifo_width}}");
	fifo_{{com.fifo_width}}.open_devfile_read();
{%- endif %}
{%- if com.snd_cycle != 0 %}
	fifo_{{com.fifo_width}}.set_devfile_write("/dev/xillybus_write_{{com.fifo_width}}");
	fifo_{{com.fifo_width}}.open_devfile_write();
{%- endif -%}
{% endfor %}
	///Please deicribe your code///

{% for com in xillybus %}
{%- if com.rcv_cycle != 0 %}
	fifo_{{com.fifo_width}}.close_devfile_read();
{%- endif -%}
{%- if com.snd_cycle != 0 %}
	fifo_{{com.fifo_width}}.close_devfile_write();
{%- endif -%}
{% endfor %}

	return 0;
}