component_name "compoent"
{
	# in_out_signals{
	# 	input 1 clk,
	# 	input 1 rst
	# }

	# option_signals{}

	# communication xillybus
	# {
	# 	rcv_cycle 1,
	# 	snd_cycle 1,
	# 	condition "1",
	# 	fifo_width 32,
	# 	rcv = dummy,
	# 	snd = dummy
	# }

	{% for ul in ul_list %}
	userlogic_path "{{ul.filepath}}" instance_name "uut"
	{
	{%- for port in ul.ports %}
		{{port.__class__.__name__[0].lower() + port.__class__.__name__[1:]}} {{port.bit}} {{port.name}} =
		{%- if loop.index < ul.ports | length %} ,{% endif %}{% endfor %}
	}
	{% endfor %}
	# generate_ros_package

}