
////.clk(bus_clk)
////.rst(!user_w_write_{{com.fifo_width}}_open && !user_r_read_{{com.fifo_width}}_open),
//.din_{{com.fifo_width}}(user_w_write_{{com.fifo_width}}_data),
//.wr_en_{{com.fifo_width}}(user_w_write_{{com.fifo_width}}_wren),
//.rd_en_{{com.fifo_width}}(user_r_read_{{com.fifo_width}}_rden),
//.dout_{{com.fifo_width}}(user_r_read_{{com.fifo_width}}_data),
//.full_{{com.fifo_width}}(user_w_write_{{com.fifo_width}}_full),
//.empty_{{com.fifo_width}}(user_r_read_{{com.fifo_width}}_empty),